.header {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    background-color: #ff5722;
    align-items: center;
  }
  
  .header .logo img {
    height: 60px;
  }
  
  .header .search-bar input {
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  .header .search-bar button {
    padding: 9.5px;
    margin-left: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  header .user-profile img {
    margin-right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  