.product-list {
    padding: 20px;
  }
  
  .product-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 300px;
    height: 300px;
  }
  
  .product h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .product p {
    color: #ff5722;
  }
  